/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	padding: 0;
	margin: 0;
	background: #ececec;
};

.mobile-only {
	display: none !important;
}
@media only screen and (min-width: 681px)  {
	.desktop-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}

}

@media only screen and (max-width: 680px)  {
	.desktop-only {
		display: none !important;
	}

	.mobile-only {
		display: block;
	}

}